ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #10243B;
    display: inline-block;
    width: 100vw;
    
  }
  
  li  {
    display: block;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    float: left;
    text-align: center;
  }

  #backgroundimg {
    background-image: url(images/fans.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: none;
    background-size: cover;
  }
  

  body, html {
    height: 100%;
}

.right {
  float: right;
}

#hero-text {
  text-align: left;
  position: relative;
  top: 90px;
  left: 10px;
  transform: translate(-50%, -50%);
  color: black;
  display: block;
}
  